#content {
    margin-right:0;
    overflow:auto;
    position: relative;
}

body.js #ms-signup-reveal {
    display: none;
}

.ms-pb-mid-container, .ms-pb-bot-container { /* float containers */
    float: right;
    position: relative;
}
#ms-pb-pledgepage {
    margin: 4px;
    background-color:#ffffff;
    overflow:auto;
}

#ms-pb-pledgepage h2 {
    margin: 2px auto 0 auto;
    padding: 4px 1em;
    text-align: center;
    font-size: 140%;
}

.ms-pb-top-img {
    overflow:auto;
    height: 360px;
    background: #ffffff;
    position: relative;
    background-position: center center;
    background-repeat: repeat; /* really? */
}

.ms-pb-signed-roundel-open-person,
.ms-pb-signed-roundel-open-people,
.ms-pb-signed-roundel-closed-person,
.ms-pb-signed-roundel-closed-people{
    width: 200px;
    height: 200px;
    background-position: center right;
    background-repeat: no-repeat;
    float:right;
    position:relative;
}
.ms-pb-signed-roundel-open-person {
    background-image: url('person-has-signed-up.png');
}
.ms-pb-signed-roundel-open-people {
    background-image: url('people-have-signed-up.png');
}
.ms-pb-signed-roundel-closed-person {
    background-image: url('person-signed-up.png');
}
.ms-pb-signed-roundel-closed-people {
    background-image: url('people-signed-up.png');
}

/*
#ms-pb-signed-roundel-ie {
    width: 133px;
    height: 26px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/mysociety-dark+50.png');
    display: inline-block;
    margin-right: 1em;
    cursor: pointer;
}
*/

#ms-pb-signed-roundel p {
    margin: 0;
    padding: 0; /* align with graphic background */
    position: absolute;
    top:50px;
    left:55px;
    width: 100px;
    height: 100px;
    line-height:100px; /* force mid-align */
    text-align:center;
    color: #ffffff;
    font-size:80px;
    font-weight:bold;
}
#ms-pb-pledge-text {
    margin: 4px 0 0 0;
    background-color:#00ada1;
    color: white;
    padding: 0.75em;
    font-size: 160%;
    line-height: 1.4em;
    background-image:url('corner-sw-00ada1.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}
.ms-pb-mid-container {
    width: 100%;
    overflow:auto;
    position: relative; /* fixes ie6 bug in deadline postion, below */
}
#ms-pb-places-left {
    width: 260px;
    height: 135px;
    background-image: url('places_left.png');
    background-position: center left;
    background-repeat: no-repeat;
    float:left;
    position:relative;
    margin:0px;
    padding: 0px;
}
#ms-pb-places-left-count {
    display: block;
    margin: 0;
    padding: 0; /* align with graphic background */
    position: absolute;
    top:0;
    left:16px;
    width: 100px;
    text-align:center;
    color: #ffffff;
    font-size:80px;
    font-weight:bold;
    line-height:135px; /* force mid-align */
}
#ms-pb-places-left-label {
    display: block;
    margin: 0;
    padding: 0; /* align with graphic background */
    position: absolute;
    top:30px;
    right:16px;
    width: 114px;
    text-align:left;
    color: #ffffff;
    font-size:28px;
    font-weight:bold;
    line-height:1.2em; /* force mid-align */
}

#ms-pb-deadline {
    margin: 4px 0px 0px 270px;
    color: #ffffff;
    background: #00ada1;
    padding: 0.5em;
    text-align: center;
    background-image:url('corner-sw-00ada1.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    font-size: 140%;
    zoom:1; /* fixed IE6 bug */
}
#ms-pb-deadline-footer {
    width:15px;
    height:15px;
    position:absolute;
    bottom:0px;
    right:0px;
    color: #ffffff;
    background: #00ada1;
    background-image:url('corner-se-00ada1.png');
    background-position: bottom right;
    background-repeat: no-repeat;    
    clear:both;
}
#ms-pb-deadline h3 {
    font-size: 100%;
    color: #ffffff;
    margin: 0 auto;
    padding:0;
    font-weight: normal;
    text-align: center;
    line-height: 1em;
}
#ms-pb-deadline p {
    margin: -12px auto 0 auto;
    padding: 0;
    font-size: 160%;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
}
#ms-pb-deadline p sup{
    font-size:66%;
}
#ms-pb-spread {
    margin: 4px 0px 4px 270px;
    background: #ffffff;
    text-align: center;
}

#ms-pb-spread ul {
   list-style: none;
   padding: 0;
   margin: 4px auto;
   text-align: center;
}

#ms-pb-spread ul li {
    display: block;
    float:left;
    height: 20px;
    width:22%;
    background-image: none;
    text-align: center;
    margin:0;
    padding: 4px;
    border: 2px solid #ffffff;
    background-color: #999999;
}

#ms-pb-spread ul li a {
    color: #ffffff;
    padding: 8px 8px;
}
#ms-pd-spread ul li a:hover {
    background: #666666;
}

.ms-pb-bot-container {
    background-color: #68d0c7;
    background-color: #ffffff;
    position:relative;
    background-image:url('corner-nw-68d0c7.png');
    background-position: top left;
    background-repeat: no-repeat;    
    padding-top:0;
    margin-top:8px;
}
.ms-pb-bot-container-footer {
    background-color: #68d0c7;
    position:absolute;
    bottom: 0px;
    left:0px;
    width: 15px;
    height: 15px;
    background-image:url('corner-sw-68d0c7.png');
    background-position: bottom left;
    background-repeat: no-repeat;   
}

#ms-pb-signatories-footer {
    width:15px;
    height:15px;
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: #68d0c7;
    background-image:url('corner-se-68d0c7.png');
    background-position: top-left;
    background-repeat: no-repeat;    
}

#ms-pb-comments {
    margin-top:0;
    margin-right: 244px;
    padding:8px;    
    background-color: #68d0c7;
    background-image:url('corner-nw-68d0c7.png');
    background-position: top left;
    background-repeat: no-repeat;
    position:relative;
}
#ms-pb-comments h2 {
    text-align: left;
}

#ms-pb-comments .ms-pb-general h2 a {
    display:none; /* suppress: duplication */
}

#ms-pb-comments textarea{
    width:90%;
}

#ms-pb-signatories {
    position: relative;
    float: right;
    width: 240px;
    background-color: #68d0c7;
    background-image:url('corner-ne-68d0c7.png');
    background-position: top right;
    background-repeat: no-repeat; 
}

#ms-pb-sign-here {
    border-bottom: 4px solid #ffffff;
    /* top right corner rounded */
    padding: 0 1em;
}

.ms-pb-general {
    background-color: #ffffff;
    margin: 1em;
    padding: 1em;
}

#ms-pb-pledgepage .ms-pb-general h2 { /* in comments */
    margin-left: 0;
    padding-left: 0px;
    text-align: left;
}

#signpledge_row {
    text-align: center;
}

#signpledge_row input {
    margin: 4px auto;
}

#ms-pb-status-plaque {
    margin: 4px;
    text-align: center;
}
#ms-pb-status-plaque p {
    padding: 8px 24px;
    margin: 0;
    font-size: 120%;
    color: #ffffff;
    background-color: #00ada1;
    background-image:url('corner-ne-00ada1.png');
    background-position: top right;
    background-repeat: no-repeat;        
}

.ms-pb-clear {
    clear: both;
}

/* end of work for ref-index */
 
#spreadword ul,  #spreadword ul li {
  list-style-type:none;
  background: none; /* override Barnet's setting */
  list-style-position: inside;
  vertical-align:middle;
  margin:0;
  }
  #spreadword ul li{
    display: inline;
    padding: 0px;
    margin-right:8px;
    height:63px;
    width:71px;
  }
  .ms-preload-images{
	display: none;
  }

#currentpledges {
    position:relative;
    overflow:auto;
}

#currentpledges ul {
    overflow:auto;
}

#currentpledges li {
    float: left;
    width: 44%; /* 45% is too wide for IE6 */
    margin-right: 1%;
}

#error, #errors, .finished {
    color: #990000;
    background-color: #ffcccc;
    border: solid 2px #990000;
    padding: 3px;
}


#currentpledges ul.search_results {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#currentpledges ul.search_results li{
    background: none;
}
#currentpledges li:hover {
    background-color: #D8EBEB;
}
#currentpledges ul.search_results li a{
    font-size:120%;
    font-weight: bold;
    width: 100%;
    display: block;
    margin:0 0 -1em 0;
    padding: 4px 0;
}
#currentpledges ul.search_results li a:hover{
    background-color:#D8EBEB;
}
#currentpledges ul.search_results li small{
    display: block;
    border-top: 1px solid #00ada1;
    margin: 6px 0 6px -4px;
    padding: 4px 4px 4px 4px;
}
.ms-pledge-list-icon{
    width:100%;
    height: 50px;
    margin:0;
    padding:0;
    background-position:center center;
    border-bottom: 4px solid #00ada1;
}
