#content {
    margin-right:0;
    overflow:auto;
    position: relative;
}

body.js #ms-signup-reveal {
    display: none;
}

.ms-pb-mid-container, .ms-pb-bot-container { /* float containers */
    position: relative;
}
#ms-pb-pledgepage {
    margin: 4px;
    background-color:#ffffff;
    overflow:auto;
}

#ms-pb-pledgepage h2 {
    margin: 2px auto 0 auto;
    padding: 4px 1em;
    text-align: center;
    font-size: 140%;
}

.ms-pb-top-img {
    overflow:auto;
    height: 360px;
    background: #ffffff;
    position: relative;
    background-position: center center;
    background-repeat: repeat; /* really? */
    background-image: url('default-pledge-image.jpg');
}

.ms-pb-signed-roundel-open-person,
.ms-pb-signed-roundel-open-people,
.ms-pb-signed-roundel-closed-person,
.ms-pb-signed-roundel-closed-people{
    width: 200px;
    height: 200px;
    background-position: center right;
    background-repeat: no-repeat;
    float:right;
    position:relative;
}
.ms-pb-signed-roundel-open-person {
    background-image: url('person-has-signed-up.png');
}
.ms-pb-signed-roundel-open-people {
    background-image: url('people-have-signed-up.png');
}
.ms-pb-signed-roundel-closed-person {
    background-image: url('person-signed-up.png');
}
.ms-pb-signed-roundel-closed-people {
    background-image: url('people-signed-up.png');
}
#ms-pb-signed-roundel-ie {
    /* display: none; */
}
#ms-pb-signed-roundel p {
    margin: 0;
    padding: 0; /* align with graphic background */
    position: absolute;
    top:50px;
    left:55px;
    width: 100px;
    height: 100px;
    line-height:100px; /* force mid-align */
    text-align:center;
    color: #ffffff;
    font-size:80px;
    font-weight:bold;
}
#ms-pb-pledge-text {
    margin: 4px 0 0 0;
    background-color:#00ada1;
    color: white;
    padding: 0.75em;
    font-size: 160%;
    line-height: 1.4em;
    background-image:url('corner-sw-00ada1.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}
.ms-pb-mid-container {
    width: 100%;
    overflow:auto;
    position: relative; /* fixes ie6 bug in deadline postion, below */
}
#ms-pb-places-left {
    width: 260px;
    height: 135px;
    background-image: url('places_left.png');
    background-position: center left;
    background-repeat: no-repeat;
    float:left;
    position:relative;
    margin:0px;
    padding: 0px;
}
#ms-pb-places-left-count {
    display: block;
    margin: 0;
    padding: 0; /* align with graphic background */
    position: absolute;
    top:0;
    left:16px;
    width: 100px;
    text-align:center;
    color: #ffffff;
    font-size:80px;
    font-weight:bold;
    line-height:135px; /* force mid-align */
}
#ms-pb-places-left-label {
    display: block;
    margin: 0;
    padding: 0; /* align with graphic background */
    position: absolute;
    top:30px;
    right:16px;
    width: 114px;
    text-align:left;
    color: #ffffff;
    font-size:28px;
    font-weight:bold;
    line-height:1.2em; /* force mid-align */
}

#ms-pb-deadline {
    margin: 4px 0px 0px 270px;
    color: #ffffff;
    background: #00ada1;
    padding: 0.5em;
    text-align: center;
    background-image:url('corner-sw-00ada1.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    font-size: 140%;
    zoom:1; /* fixed IE6 bug */
}
#ms-pb-deadline-footer {
    width:15px;
    height:15px;
    position:absolute;
    bottom:0px;
    right:0px;
    color: #ffffff;
    background: #00ada1;
    background-image:url('corner-se-00ada1.png');
    background-position: bottom right;
    background-repeat: no-repeat;    
    clear:both;
}
#ms-pb-deadline h3 {
    font-size: 100%;
    color: #ffffff;
    margin: 0 auto;
    padding:0;
    font-weight: normal;
    text-align: center;
    line-height: 1em;
}
#ms-pb-deadline p {
    margin: -12px auto 0 auto;
    padding: 0;
    font-size: 160%;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
}
#ms-pb-deadline p sup{
    font-size:66%;
}
#ms-pb-spread {
    margin: 4px 0px 4px 270px;
    background: #ffffff;
    text-align: center;
}

#ms-pb-spread ul {
   list-style: none;
   padding: 0;
   margin: 4px auto;
   text-align: center;
}

#ms-pb-spread ul li {
    display: block;
    float:left;
    height: 20px;
    width:22%;
    background-image: none;
    text-align: center;
    margin:0;
    padding: 4px;
    border: 2px solid #ffffff;
    background-color: #999999;
}

#ms-pb-spread ul li a {
    color: #ffffff;
    padding: 8px 8px;
}
#ms-pd-spread ul li a:hover {
    background: #666666;
}

.ms-pb-bot-container {
    overflow:auto;
    background-color: #68d0c7;
    background-color: #ffffff;
    position:relative;
    background-image:url('corner-nw-68d0c7.png');
    background-position: top left;
    background-repeat: no-repeat;    
    padding-top:0;
    margin-top:8px;
}
.ms-pb-bot-container-footer {
    background-color: #68d0c7;
    position:absolute;
    bottom: 0px;
    left:0px;
    width: 15px;
    height: 15px;
    background-image:url('corner-sw-68d0c7.png');
    background-position: bottom left;
    background-repeat: no-repeat;   
}

#ms-pb-signatories-footer {
    width:15px;
    height:15px;
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: #68d0c7;
    background-image:url('corner-se-68d0c7.png');
    background-position: top-left;
    background-repeat: no-repeat;    
}

#ms-pb-comments {
    margin-top:0;
    margin-right: 244px;
    padding:8px;    
    background-color: #68d0c7;
    background-image:url('corner-nw-68d0c7.png');
    background-position: top left;
    background-repeat: no-repeat;
    position:relative;
}
#ms-pb-comments h2 {
    text-align: left;
}

#ms-pb-comments .ms-pb-general h2 a {
    display:none; /* suppress: duplication */
}

#ms-pb-comments textarea{
    width:90%;
}

#ms-pb-signatories {
    position: relative;
    float: right;
    width: 240px;
    background-color: #68d0c7;
    background-image:url('corner-ne-68d0c7.png');
    background-position: top right;
    background-repeat: no-repeat; 
}

#ms-pb-sign-here {
    border-bottom: 4px solid #ffffff;
    /* top right corner rounded */
    padding: 0 1em;
}

.ms-pb-general {
    background-color: #ffffff;
    margin: 1em;
    padding: 1em;
}

#ms-pb-pledgepage .ms-pb-general h2 { /* in comments */
    margin-left: 0;
    padding-left: 0px;
    text-align: left;
}

#signpledge_row {
    text-align: center;
}

#signpledge_row input {
    margin: 4px auto;
}

#ms-pb-status-plaque {
    margin: 4px;
    text-align: center;
    border: none;
}

#ms-pb-status-plaque p {
    padding: 8px 24px;
    margin: 0;
    font-size: 120%;
    color: #ffffff;
    background-color: #00ada1;
    background-image:url('corner-ne-00ada1.png');
    background-position: top right;
    background-repeat: no-repeat;        
}

.ms-pb-clear {
    clear: both;
}

/* end of work for ref-index */
 
#spreadword ul,  #spreadword ul li {
  list-style-type:none;
  background: none; /* override Barnet's setting */
  list-style-position: inside;
  vertical-align:middle;
  margin:0;
  }
  #spreadword ul li{
    display: inline;
    padding: 0px;
    margin-right:8px;
    height:63px;
    width:71px;
  }
  .ms-preload-images{
	display: none;
  }

#currentpledges {
    position: relative;
    overflow: auto;
    float: left;
    width: 45%;
    margin-right: 5%;
}

#currentpledges ul {
    overflow: auto;
}

#currentpledges li {
}

#error, #errors { // NB for Barnet, removed .finished here
    color: #990000;
    background-color: #ffcccc;
    border: solid 2px #990000;
    padding: 3px;
}


#currentpledges ul.search_results {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#currentpledges ul.search_results li {
    background: none;
}
#currentpledges li:hover {
    background-color: #D8EBEB;
}
#currentpledges ul.search_results li a {
    font-size:120%;
    font-weight: bold;
    width: 100%;
    display: block;
    margin:0 0 -1em 0;
    padding: 4px 0;
}
#currentpledges ul.search_results li a:hover {
    background-color:#D8EBEB;
}
#currentpledges ul.search_results li small {
    display: block;
    border-top: 1px solid #00ada1;
    margin: 6px 0 6px -4px;
    padding: 4px 4px 4px 4px;
}
#currentpledges ul.search_results li a.ms-pledge-list-a, #currentpledges ul.search_results li a.ms-pledge-list-a:hover {
    margin: 0;
    padding: 0;
    border: none;
}

#barnet_expl {
    float: left;
    width: 45%;  
}

.ms-pledge-list-icon {
    width:100%;
    height: 50px;
    margin:0;
    padding:0;
    background-position:center center;
    border-bottom: 4px solid #00ada1;
    background-image: url('default-pledge-icon.jpg'); /* override with inline style if there's an image for the pledge */
}

.ms-pledge-banner, .ms-diamondjubilee-banner,
.ms-royalwedding-banner, .ms-thebiglunch-banner, ms-adoptastreet-banner,
.ms-grit_my_school-banner, .ms-grit_my_street-banner,
.ms-olympics2012-banner {
    width: 100%;
    height: 50px;
    background-position:center center;
    margin-bottom: 1em;
}

.ms-diamondjubilee-banner {
  background-image: url('preloaded/diamond_jubilee.jpg');
}

.ms-royalwedding-banner {
  background-image: url('preloaded/royal_wedding.jpg');
}

.ms-thebiglunch-banner {
    background-image: url('preloaded/the_big_lunch.jpg');
}

.ms-adoptastreet-banner {
    background-image: url('preloaded/adopt_a_street.jpg');
}

.ms-grit_my_school-banner {
    background-image: url('preloaded/frosty_mimosa.jpg');
}

.ms-grit_my_street-banner {
    background-image: url('preloaded/frosty_flower.jpg');
}

.ms-olympics2012-banner  {
    background-image: url('preloaded/olympics2012.jpg');    
}

/* pledge creation styling */

/* Breadcrumbs when creating a pledge */

ol#breadcrumbs {
    font-size: 100%;
    display: block;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    counter-reset: item;
}

ol#breadcrumbs li {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1em;
    padding-right: 1em;
    color: #888;
    display: inline;
}
ol#breadcrumbs li:before {
    counter-increment: item;
    content: counter(item) ". ";
}
ol#breadcrumbs li.hilight {
    color: #000;
    background-color: #eee;
}
ol#breadcrumbs li.hilight em {
    font-style: normal;
}

#tips {
    float: right;
    width: 40%;
    margin-top: 1em;
    margin-left: 1em;
}
#tips, #pledge, #pledge_main, #all .pledge, #yourpledges .pledge, .pb-barnet-breakout{
    border: solid 1px #008184;
    background-color: #D8EBEB;
    margin-bottom: 1em;
    padding: 8px;
}
.pb-barnet-breakout .corner-label {
  position:absolute;
  top:0;
  left:0;
  padding:2px 6px 2px 2px;
  margin:0; 
  background-color:#008184;
  color:#fff;
  font-size: 0.9em;
}

#tips li {
    padding: 0;
    margin: 0 0 1em 0;
}
#tips h2{
    font-size: 18px;
    color: #ffffff;
    margin: -8px -8px 8px -8px;
    padding: 4px 8px;
    background: #008184;
}
#preview {
    float:right;
    width: 47%;
    margin-left: 1em;
}

#preview h2, #pledge h2, .pledge h2 {
    margin-top: 0;
}
.pledge {
    font-size:112%;
}

#ms-explicit-party-list {
    margin:-8px 0 0 0; 
    background-color:#D8EBEB;
    padding:0;
}

#ms-explicit-party-list h3 {
    margin:0;
    padding:4px 8px; 
    color:#ffffff; 
    background-color:#008184;
}

#ms-explicit-party-list ul {
    padding:8px;
    margin:0; 
    font-size:120%;
    font-weight:bold;
    list-style: none;
    width: 13em;
    float:left;
}


#ms-explicit-party-list ul li {
    /* padding:0px 1em 4px 0; */
    padding-left: 0;
}

#ms-explicit-party-list ul li a {
  padding-left:16px;
}

#currentpledges .barnet-type-pledges {
    margin: -1em 0 1em 15px;
    border-bottom: 4px solid #00ada1;">
}
#currentpledges .barnet-type-pledges p {
    margin-bottom: 0.3em;
}
#currentpledges .barnet-type-pledges ul {
    margin:0;
    padding:0 0 0.5em 0;
    float: left;
    width: 48%;
    font-size: 110%;
}
#ms-explicit-party-list ul.pledge_type_auto_width_column {
  width: auto;
  min-width: 13em;
  max-width:20em;
}

.superscript{
  vertical-align:super;
  font-size:0.666em;
}