#front {
    background-image: none;
}

#sitemenu {
    padding: 0; /* Removes some vertical space under the navigation */
}

.rbwm-content {
    width: 100%;
}
.breadcrumbs {
    margin-bottom: 1em;
}
.rbwm-content h1 {
    margin-right: 0;
    background-color: transparent;
    padding: 0;
}

h1 span#logo_bank,
h1 span#logo_pledge {
    background-color: transparent;
    color: #000;
}

#logo {
    background-color: transparent;
    border-bottom: none;
    padding: 0;
    margin: 1em 0;
}

#logo:hover {
    background-color: transparent;
    text-decoration: none;
    color: black;
}

#nav_search {
    width: 98%;
    background-image: none;
    background-color: #F5F5F5;
    display: block;
    padding: 0.75em 0 0.75em 2%;
    border-bottom: 1px solid #CFCFCF;
    font-size: 100%;
}

#nav_search #q {
    border: 1px solid #CFCFCF;
    padding: 0.33em;
}

#pbcontent {
    /* Use the maximum available width */
    padding-left: 0;
    padding-right: 0;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
}

.rss {
    padding: 0;
}

#pbcontent ol {
    padding-left: 1.8em;
}

#pbcontent form {
    display: block;
}

#new #pbcontent form {
    padding: 3%;
    width: 52.8%;
    margin-right: 3%;
}

#new #preview,
#tips {
    width: 37.2%;
    border: none;
    background-color: transparent;
    padding: 0;
}

#new #pledge {
    margin-left: 0;
}
#new #pbcontent form,
#pledge,
#new #pledge,
#pledge_main,
.pledge,
#spreadword,
#localsignupyourpage,
#localsignupsearchpage,
#localsignupfrontpage {
    background-color: #f9f0f9;
    border-color: #660066;
    border-width: 1px;
}
/* Footer */
html body #pbcontent #govmetric {
    /* Just can't beat the specificity of the code without a giant selector */
    background-color: transparent;
    width: 100%; /* as above :( */;
    margin-right: 0;
    padding: 0;
}
